<ifModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{RECUEST_FILENAME} !-d
#убрать WWW
RewriteCond %{HTTP_HOST} ^www.
RewriteCond %{HTTPS}s ^on(s)|off
RewriteCond http%1://%{HTTP_HOST} ^(https?://)(www.)?(.+)$
RewriteRule ^ %1%3%{REQUEST_URI} [R=301,L]
#перенаправить на https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# Убираем последний слеш
RewriteRule ^(.*)/$ /$1 [L,R=301]
#убираем .php
RewriteRule ^(\w+)$ $1.php [NC]
RewriteRule ^(.*)$ public/index.php [PT,L]

#SameSite=strict убираем ошику межсетивого экрана
Header always edit Set-Cookie ^(.*)$ "$1; HttpOnly; Secure; SameSite=strict"

</ifModule>