@font-face {
    font-family: 'Fira Sans', sans-serif;
    /*font-weight: 600;*/
    font-style: normal;
    src: local('Fira Sans'), local('Fira Sans'), url(/public/font/FiraSans-Regular.ttf) format('ttf');
    unicode-range: U+0400-045F;
    font-display: swap;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Fira Sans', sans-serif;

    font-size: 1rem !important;
    color: #343a40 !important;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    margin-bottom: 72px;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    background-color: transparent;

}

.list-group-item.active {
    background-color: #f8f9fa;
    border-color: #aeb0b3;
}

hr {
    border-top: 2px solid rgba(0, 0, 0, .1);
}

.ck.ck-editor__editable_inline {
    min-height: 150px !important;
}

#ckf-modal {
    top: 15px !important;
}

.modal-content-img {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border-radius: .3rem;
    outline: 0;
}

.close-img {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #fff;
    position: absolute;
    top: 5px;
    left: 15px;
}

.alt {
    font-weight: 600;
    color: #000000;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.ui-autocomplete {
    z-index: 1060 !important;
}

.search-panel {
    background-image: url('/public/pic/res/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

@media screen and (min-width: 991px) {
    .modal-lg {
        max-width: 888px;
    }
}

.footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 72px;
}

.navbar-toggler .bar1, .navbar-toggler .bar2, .navbar-toggler .bar3 {
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    transition: 0.4s;
    display: block;
    position: relative;
}

.change .bar1 {
    -webkit-transform: rotate(-42deg) translate(-4px, 6px);
    transform: rotate(-42deg) translate(-4px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(46deg) translate(-4px, -6px);
    transform: rotate(46deg) translate(-4px, -6px);
}

.kay-captcha {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
}


/*таблица*/
td {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem !important;
    color: #343a40 !important;
    font-weight: 400;
    line-height: 1.5;
}

td p {
    margin-top: 5px;
}

table.table-mob, table.table-article {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

}


table.table-mob th, table.table-article th,
table.table-mob td, table.table-article td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

@media screen and (max-width: 991px) {

    table.table-mob tr {
        background-color: #f2f2f2;
    }

    table.table-mob {
        border: 0;
    }

    table.table-mob thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table.table-mob tr {
        border-bottom: 1px solid #ddd;
        display: block;
        margin-bottom: 30px;
    }

    table.table-mob td {
        display: block;
        text-align: right;
    }

    table.table-mob td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table.table-mob td:last-child {
        border-bottom: 0;
    }
}

@media screen and (max-width: 1150px) {
    table.table-article tr {
        background-color: #f2f2f2;
    }

    table.table-article {
        border: 0;
    }

    table.table-article thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table.table-article tr {
        border-bottom: 1px solid #ddd;
        display: block;
        margin-bottom: 30px;
    }

    table.table-article td {
        display: block;
        text-align: right;
    }

    table.table-article td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table.table-article td:last-child {
        border-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .width-mob {
        width: 150px;
    }
}

@media screen and (min-width: 601px) {
    .width-mob {
        width: 200px;
        margin-left: 15px;
    }
}

/* calendar */

tr.calendar-row {
}

td.calendar-day {
    position: relative;

}

* html div.calendar-day {
    height: 80px;
}

td.calendar-day:hover {
    background: #eceff5;
}

@media screen and (max-width: 991px) {
    td.calendar-day-np {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    td.calendar-day {
        height: 80px;
        width: 14.285714%;
    }

    td.calendar-day-np {
        background: #f2f2f2;
        height: 80px;
    }

    * html div.calendar-day-np {
        height: 80px;
    }
}

td.calendar-day-head {
    background: #ccc;
    font-weight: bold;
    text-align: center;
    width: 120px;
    padding: 5px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

div.day-number {
    background: #999;
    padding: 1px;
    color: #fff;
    font-weight: bold;
    display: block;
    display: inline-block;

    margin: -5px -5px 3px 0;
    width: 25px;
    text-align: center;
}


/* shared */
td.calendar-day, td.calendar-day-np {

    padding: 5px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}

/*icons*/

.ico {
    font-size: 30px;
    color: #007bff;
}

.hoy {
    background: #007bff !important;
}

.ayer {
    background: #e4e4e4 !important;
    color: #a6a6a6 !important;
}

.bg-ocupado {
    background-color: #ffcc347a !important;
    border-radius: 5px;
    padding: 8px;
}

.bg-des {
    color: #919090 !important;
    background-color: #f7f7f7 !important;
    border-radius: 5px;
    padding: 8px;
}

.bg-yes {
    color: #343a40 !important;
    background-color: #a1e1b1 !important;
    border-radius: 5px;
    padding: 8px;
}

.bg-no {
    color: #343a40 !important;
    background-color: #e86f7a !important;
    border-radius: 5px;
    padding: 8px;
}

.bg-yes-des {
    color: #919090 !important;
    background-color: #e5f2e9 !important;
    border-radius: 5px;
    padding: 8px;
}

.bg-no-des {
    color: #919090 !important;
    background-color: #fbdddd !important;
    border-radius: 5px;
    padding: 8px;
}

tr.calendar-row p {
    margin-bottom: 5px;
}

@media screen and (max-width: 500px) {
    textarea.form-control {
        height: 160px;
    }
}

@media screen and (min-width: 501px) {
    textarea.form-control {
        height: 90px;
    }
}

@media screen and (max-width: 500px) {
    .link-note {
        cursor: pointer;
        position: absolute;
        right: 8px;
        color: #797979 !important;
    }

    .link-note-add {
        cursor: pointer;
        position: absolute;
        margin-top: -13px;
        right: 8px;
        color: #797979 !important;
    }

    .del {
        cursor: pointer;
        position: absolute;
        left: 12px;
    }

    .undefined {
        cursor: pointer;
        position: absolute;
        left: 32px;
    }

    .no {
        cursor: pointer;
        position: absolute;
        left: 50px;
    }


    .yes {
        cursor: pointer;
        position: absolute;
        left: 62px;
    }

    .note {
        cursor: pointer;
        position: absolute;
        left: 80px;
    }
}

@media screen and (min-width: 501px) {
    .link-note-add {
        cursor: pointer;
        position: absolute;
        margin-top: -13px;
        left: 8px;
        color: #797979 !important;
    }

    .link-note {
        cursor: pointer;
        position: absolute;
        left: 8px;
        color: #797979 !important;
    }

    .del {
        cursor: pointer;
        position: absolute;
        right: 12px;
    }

    .undefined {
        cursor: pointer;
        position: absolute;
        right: 32px;
    }

    .no {
        cursor: pointer;
        position: absolute;
        right: 50px;
    }

    .yes {
        cursor: pointer;
        position: absolute;
        right: 62px;
    }

    .note {
        cursor: pointer;
        position: absolute;
        right: 80px;
    }
}


.accordion > .card .card-header {
    margin-bottom: 0 !important;
}

.card-body {
    border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
}

#noteTimeRes .form-control {
    border: 0px;
}